.group {
    background: white;
    width: 150px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
    text-align: center;
}
.group select {
    background: none;
    color: black;
    width: inherit;
    text-align: left;
}
.group select:focus-within option {
    color: black;
}
.group select option:selected {
    color: white;
}
input {
    margin: 10px;
    padding: 10px;
}
select {
    margin: 8px;
    padding: 8px;
}